body {
    font-family: sans-serif, 'Poppins';
    color: #373737;
    background-color: #373737;
    margin: 70px 20px 70px 20px;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
    line-height: 1.5;

    h1 {
        font-size: 2.5em;
        color: #520000;
    }

}

nav {
    display: inline-block;
    ul {
        list-style: none;
    }
}



.container {
    background-color: #FFFFFF;
    padding: 60px 30px 60px 30px;
    border-radius: 20px;
    margin: 0 auto;
    width: 70%;

}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(156, 114, 195);
    text-decoration:none ;
    font-size: 20px;
}

a:hover {
    color: #c0c0c0;
}

.h1index {
    color: #000000;
    font-size: 25px;
}