body {
     font-family: Arial, sans-serif;
<<<<<<< HEAD
     background-color: #f70000;
=======
     background-color: #d3d3d3;
>>>>>>> refs/remotes/origin/main
     color: #333;
     margin: 0;
     padding: 20px;
     display: flex;
}

.login {
     width: 60%;
     background-color: #ff0000;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     display: flex;
     flex-direction: column;
     gap: 10px;
     min-width: 300px;
     max-width: 400px;
}